<footer>
  <div class="footer">
    <div class="row">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#Contact">Nous Contacter</a></li>
        <li><a href="#Pricing">Nos Services</a></li>
        <li><a href="#">Police Privée</a></li>
        <li><a href="#">Termes & Conditions</a></li>
      </ul>
    </div>

    <div class="row">
      Copyright © 2024 RPG907 - All rights reserved || Designed By: ELIJAH
    </div>
  </div>
</footer>