<div id="myHeader" class="header">
  <nav>
    <div class="LogoContainer">
      <img src="playlogo.png" alt="Logo" />
      <label class="titre1">ECOFITGYM</label>
    </div>
    <ul>

      <li><a class="link" href="/forms#register"> S'inscrire </a></li>
      <li><a class="link" href="/forms#login"> Se connecter </a></li>
      <li><a class="link" href="/#Contact"> Nous contacter </a></li>
      <li><a class="link" href="/#About">À propos </a></li>
      <li><a class="link" href="/#Pricing"> Abonnement </a></li>
      <li><a class="link" href="/#activite">Activitées</a></li>
      <li><a class="link" href="/"> Acceuil </a></li>
    </ul>

    <!--<div class="dropdown">
      <button
        class="dropdown-btn"
        aria-label="menu button"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-controls="dropdown-menu"
      >
        <span>Profile</span>
        <span class="arrow"></span>
      </button>
      <ul class="dropdown-content" role="menu" id="dropdown-menu">
        <li style="--delay: 1;"><a href="#">React</a></li>
        <li style="--delay: 2;"><a href="#">Angular</a></li>
        <li style="--delay: 3;"><a href="#">Vue</a></li>
        <li style="--delay: 4;"><a href="#">Svelte</a></li>
      </ul>
    </div> -->
  </nav>
</div>