<div class="ZoneMotivation">
  <img class="bg_header" src="header.jpg" alt="Motivation" />
  <div class="motivationTxt">UN COPRS SAIN POUR UNE ÂME SAINE</div>

</div>
<section id="activite" class="activity">
  <div class="activity-title">Activitées</div>
  <a href="#myHeader"><button id="myBtn" title="Go to top"><svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 4L11.2929 3.29289L12 2.58579L12.7071 3.29289L12 4ZM13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19L13 19ZM5.29289 9.29289L11.2929 3.29289L12.7071 4.70711L6.70711 10.7071L5.29289 9.29289ZM12.7071 3.29289L18.7071 9.29289L17.2929 10.7071L11.2929 4.70711L12.7071 3.29289ZM13 4L13 19L11 19L11 4L13 4Z"
          fill="#33363F"
        />
      </svg></button></a>
  <div class="wrapper">
    <i id="left" class="fa fa-angle-left"></i>
    <ul class="carousel">
      <li class="card">
        <img src="" alt="ERROR" class="img" />
        <h2 class="">Caption Threec</h2>
      </li>
      <li class="card">

        <img src="personalcoach.png" alt="Personal coach" class="img" />
        <h2>Personal coach</h2>
      </li>
      <li class="card">

        <img src="massage.jpg" alt="ERROR" class="img" />
        <h2>Massage</h2>
      </li>
      <li class="card">

        <img src="massage.jpg" alt="ERROR" class="img" />
        <h2>Massage</h2>
      </li>
      <li class="card">

        <img src="massage.jpg" alt="ERROR" class="img" />
        <h2>Massage</h2>
      </li>
    </ul>
    <i id="right" class="fa fa-angle-right"></i>
  </div>

  <div id="About" class="description">
    <div class="aboutgym">
      <h2 class="c-title">About Us</h2>
      <p id="descr" class="desc">Ecofit Gym, inauguré le 1er janvier 2024, est
        le résultat de la vision commune de trois amis passionnés de fitness.
        Leur désir ardent de créer un environnement unique et inspirant pour les
        amateurs de remise en forme a conduit à la naissance de ce centre de
        fitness novateur. Situé au cœur de la ville, Ecofit Gym se distingue par
        son engagement envers le bien-être holistique. La mission de la salle de
        sport va au-delà de simplement fournir des équipements de haute qualité
        ; elle vise à créer une communauté où les membres sont encouragés à
        atteindre leurs objectifs de santé et de remise en forme tout en se
        soutenant mutuellement. Les installations de pointe de l'Ecofit Gym
        comprennent une large gamme d'équipements de cardio, de musculation et
        de cours collectifs animés par des instructeurs qualifiés. Le design
        moderne de l'espace et son atmosphère énergisante en font un lieu
        propice à la motivation et à l'engagement. Les trois amis fondateurs ont
        mis l'accent sur la durabilité, utilisant des matériaux écologiques
        autant que possible et intégrant des pratiques respectueuses de
        l'environnement dans la gestion quotidienne du gym. En plus des aspects
        physiques de la remise en forme, Ecofit Gym offre des programmes de
        bien-être complet, comprenant des séances de méditation, des conseils
        nutritionnels et des ateliers sur la gestion du stress. Cette approche
        globale incarne la conviction des fondateurs selon laquelle la santé
        mentale et émotionnelle jouent un rôle crucial dans le parcours de
        remise en forme. Rejoindre Ecofit Gym, c'est adhérer à une communauté
        engagée dans la poursuite d'un mode de vie actif et équilibré. Que vous
        soyez un débutant enthousiaste ou un passionné chevronné, Ecofit Gym
        vous invite à faire partie de cette aventure de remise en forme, où
        l'écologie, la passion et l'amitié se rencontrent pour créer une
        expérience fitness exceptionnelle.
      </p>
      <button onclick="toggleClock()" id="clockButton">plus</button>
    </div>
    <div class="values">
      <div class="mission">
        <img class="m-logo" src="mission.png" alt="mission" />

        <div class="text">
          <h3 class="titre3">MISSION</h3><p>vous accompagner dans la bonne tenue
            de votre Corps</p></div>
      </div>

      <div class="mission">
        <img class="m-logo" src="vision.png" alt="vision" />

        <div class="text">
          <h3 class="titre3">VISION</h3>
          <p>Garder une sante saine</p>
        </div>
      </div>

      <div class="mission">
        <img class="m-logo" src="valuelogo.png" alt="value" />

        <div class="text">
          <h3 class="titre3">VALUES</h3><p>Amour, Determination, Compassion,
            Respect, Engagement.</p></div>
      </div>
    </div>

  </div>
</section>

<section id="Pricing" class="main-container">
  <div class="card-container">
    <div class="pricing-card card-02" data-membership-type-id="1">
      <div class="pricing">
        <div class="price"> <span>20</span>$</div>
        <p>/mois</p>
        <span class="type">Basic</span>
      </div>
      <div class="card-body">
        <div class="top-shape"></div>
        <div class="card-content">
          <ul>
            <ol class="active">Acces au gym.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Classe Virtuel.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Circuit Express.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="disabled">Programme personnalisé.
              <i class="uil uil-times-circle"></i></ol>
          </ul>
          <button id="buy" class="buy-btn">S'ABONNÉ</button>
        </div>
      </div>
      <div class="ribbon"></div>
    </div>
    <div class="pricing-card card-03" data-membership-type-id="2">
      <div class="pricing">
        <div class="price"> <span>25</span>$ </div>
        <p>/mois</p>
        <span class="type">Premium</span>
      </div>
      <div class="card-body">
        <div class="top-shape"></div>
        <div class="card-content">
          <ul>
            <ol class="active">24/7 Acces au gym.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Classe Virtuele.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Circuit Express.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Tutoriel.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Programme Personnalisé.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">équipements Spéciaux.
              <i class="uil uil-check-circle"></i></ol>
          </ul>
          <button id="buy" class="buy-btn">S'ABONNÉ</button>
        </div>
      </div>
      <div class="ribbon"></div>
    </div>
    <div class="pricing-card card-01" data-membership-type-id="3">
      <div class="pricing">
        <div class="price"> <span>30</span>$ </div>
        <p>/mois</p>
        <span class="type">Platinium</span>
      </div>
      <div class="card-body">
        <div class="top-shape"></div>
        <div class="card-content">
          <ul>
            <ol class="active">24/7 Acces au gym.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Classe Virtuele.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Circuit Express.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Tutoriel.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Programme Personnalisé.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">équipements Spéciaux.
              <i class="uil uil-check-circle"></i></ol>
          </ul>
          <button id="buy" class="buy-btn">S'ABONNÉ</button>
        </div>
      </div>
      <div class="ribbon"></div>
    </div>
    <div class="pricing-card card-04" data-membership-type-id="4">
      <div class="pricing">
        <div class="price"> <span>35</span>$ </div>
        <p>/mois</p>
        <span class="type">Golden</span>
      </div>
      <div class="card-body">
        <div class="top-shape"></div>
        <div class="card-content">
          <ul>
            <ol class="active">24/7 Acces au gym.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Classe Virtuele.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Circuit Express.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Tutoriel.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">Programme Personnalisé.
              <i class="uil uil-check-circle"></i></ol>
            <ol class="active">équipements Spéciaux.
              <i class="uil uil-check-circle"></i></ol>
          </ul>
          <button id="buy" class="buy-btn">S'ABONNÉ</button>
        </div>
      </div>
      <div class="ribbon"></div>
    </div>
  </div>
</section>

<div id="Contact" class="form-c">

  <div class="F-container">
    <h3 class="f-title">Contacter nous</h3>
    <form class="form-input">
      <label for="fname">Nom</label>
      <input type="text" id="fname" name="Nom" placeholder="votre nom.." />
      <label for="femail">Email</label>
      <input
        type="email"
        id="femail"
        name="email"
        placeholder="exemple@gmail.com.."
      />
      <label for="subject" id="fmessage">Sujet</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Votre message ici.."
        style="height:200px"
      ></textarea>
      <input class="button" type="reset" value="reset" />
      <button id="submit" class="button" type="submit">Submit</button>
      <p id="formFeedback"></p>
    </form>
  </div></div>

  