<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    


    <!-- Latest compiled and minified JavaScript -->
      {{#each style}}
      <link rel="stylesheet" type="text/css" href="{{this}}" />
      {{/each}}

    {{#each script}}
    <script type="module" src="{{this}}"></script>
    {{/each}}

      <title>{{titre}}</title>
  </head>
  <body>
    {{>header}}
    <main class="main">
      {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>